page-register {

    .page-purpose-title{
        font-weight: bold;
        margin: 0 auto;
    }
    ion-row{
        border-bottom: 5px black;
    }
    ion-item{
        border-radius: 5px;
        
    }

    h6{
        font-size: 12px;
        color: map-get($colors, lightSky );
    }

    .btn-confirm{
        background-color: map-get($colors, pistaGreen ) ;
        margin-top: 5px;
        color: #017dc6;
        font-weight: bold;
    }
}
