page-home {
    // .body{
    //     background-image: linear-gradient(#dfe610,#661a1a);
        opacity: 0.8;
    // }
    
    ::placeholder {
        color: white !important;
    }
    
    .no_back {
        background-color: initial;
    }

    .icon {
        font-size: 30px;
        color: map-get($colors, light) ;
    }

    
    

    .btn-login {
        background-color: #a7be39;
        color: map-get($colors, lightSky);
        margin-top: 20px;
        font-weight: bold;
    }

    .btn-signup{
        background-color: map-get($colors, lightSky);
        color: #799101;
        font-weight: bold;
    }


} 
