page-home {
    // .body{
    //     background-image: linear-gradient(#dfe610,#661a1a);
    //     opacity: 0.9;
    // }
    

    #container {
        margin:0 auto;
        padding-top:40px;
        text-align: center;
        display: block;
        overflow: hidden;
    }
    
    ::placeholder {
        color: map-get($colors, light);
    }
    
    .no_back {
        background-color: initial;
    }

    .icon {
        font-size: 30px;
        color: map-get($colors, light) ;
    }

    
    .btn {
        //background-color: map-get($colors, light) ;
        margin-top: 25px;
        font-size: 16px;
        font-weight: bold;
    }

    .btn-login {
        background-color: #a7be38;
        color: #00a6e7;
    }

    .btn-signup{
        color: map-get($colors, lightSky);;
        color: #96ad26;
    }


} 
