page-forgotpassword {
    .page-purpose-title{
        width: 50%;
        margin: 0 auto;
        margin-top: 1em;
    }
    .text-small {
        font-size: 15px;
        margin-top: 22px;
    }
    .text-large {
        display: block;
        font-weight: bold;
    }
    ion-item {
        border-radius: 5px;
    }

    .btn-confirm{
        background-color: map-get($colors, pistaGreen ) ;
        margin-top: 30px;
        color: #017dc6;
       // color: map-get($colors, light);
    }
}
