page-resetpassword {
    .page-purpose-title{
        font-weight: bold;
        margin: 0 auto;
    }
    
    ion-item{
        border-radius: 5px;
        
    }

    .btn-submit{
        background-color: map-get($colors, pistaGreen ) ;
        margin-top: 30px;
        color: #017dc6;
        font-weight: bold;
    }
}
